name: build-tile-server-docker

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: copy script
        run: cp tile-server/run_in_container.sh .
      
      - name: copy Dockerfile
        run: cp tile-server/Dockerfile .

      - name: change permission
        run: chmod +x run_in_container.sh

      - name: make database directory
        run: mkdir tile-server-postgre-database

      - name: get extra airway data
        run: wget https://github.com/lancard/korea-flight-database/releases/latest/download/data.sql -O data.sql

      - name: build airway database
        run: |
          docker run \
          --rm \
          -v $PWD/tile-server-postgre-database:/data/database/ \
          -v $PWD/data.sql:/data.sql \
          -v $PWD/run_in_container.sh:/run.sh \
          overv/openstreetmap-tile-server  

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: build default south korea database
        run: |
          docker run \
          --rm \
          -v $PWD/tile-server-postgre-database:/data/database/ \
          -e DOWNLOAD_PBF=https://github.com/lancard/filtered-south-korea-osm/raw/main/filtered.osm.pbf \
          -e DOWNLOAD_POLY=https://download.geofabrik.de/asia/south-korea.poly \
          overv/openstreetmap-tile-server \
          import
       
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: lancard/tile-server
          labels: latest          
